<h1 class="header">Stupid Coaching</h1>

<p class="question"><%= @question %> <br><em>
-You</em> </p>

<p class="answer"><%= @answer %> <br><em>
-Your coach</em>
</p>

<%= link_to("Ask a question", ask_path, class: "no-underline") %>

<!--#Add a link to /ask on the answer.html.erb view using the link_to Rails helper.
